        <!-- Main footer container section representing the footer area of the page, styled with a top border -->
        <footer class="border-top">
            
            <!-- Standard layout grid container to limit page width and pad sides -->
            <div class="container px-4 px-lg-5">
                
                <!-- Align the inner columns horizontally centered in the row -->
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    
                    <!-- Center column constrained to typical readable text blocks -->
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <!-- List structure representing social media profile links, inline-styled and text-centered -->
                        <ul class="list-inline text-center">
                            
                            <!-- Inline item for the Twitter profile link -->
                            <li class="list-inline-item">
                                <a href="#!">
                                    <!-- Create a layered icon stack using Font Awesome classes (large stack) -->
                                    <span class="fa-stack fa-lg">
                                        <!-- Solid base circle icon in the background (double size layer) -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <!-- Twitter logo icon layered on top of the circle, utilizing inverse colors -->
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                            <!-- Inline item for the Facebook profile link -->
                            <li class="list-inline-item">
                                <a href="#!">
                                    <!-- Create a layered icon stack using Font Awesome classes (large stack) -->
                                    <span class="fa-stack fa-lg">
                                        <!-- Solid base circle icon in the background (double size layer) -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <!-- Facebook logo icon layered on top of the circle, utilizing inverse colors -->
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            
                            <!-- Inline item for the GitHub profile link -->
                            <li class="list-inline-item">
                                <a href="#!">
                                    <!-- Create a layered icon stack using Font Awesome classes (large stack) -->
                                    <span class="fa-stack fa-lg">
                                        <!-- Solid base circle icon in the background (double size layer) -->
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <!-- GitHub logo icon layered on top of the circle, utilizing inverse colors -->
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        
                        <!-- Small copyright text node, styled with muted/gray colors and italicized text formatting -->
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2026</div>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Load the compiled and bundled Bootstrap JS (includes Popper utility for dropdowns and tooltips) from the JS-deliver CDN -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        
        <!-- Reference the site-specific navigation animation script file dynamically using Flask's static routing engine -->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
